
@import 'variables';
html, body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-color: rgb(220,220,220);
}
body {
	background-color: #f4f4f4;
}

h1 {
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	letter-spacing: 8px;
	padding-left: 8px;
	text-align: center;
	padding: 45px 0;
	color: #f5f5f5;
}
header {
	position: relative;
	
	.arrow {
		background-color: #0A0E19;
		height: 40px;
		width: 40px;
		position: absolute;
		bottom: -20px;
		left: 0;
		right: 0;
		margin: 0 auto;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
h1.title {
	background-color: #0A0E19;
	margin: 0;
	padding: 90px 0;
	letter-spacing: 20px;
	padding-left: 20px;
	font-weight: 400;
	color: #ab987a;
}

// Gridlock
.gridlock-container{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: space-between;
	align-items: center;
	-webkit-justify-content: space-between;
	-webkit-align-items:center;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	
	h1 {
		font-size: 12px;
		margin: 0;
	}	
	.grid-item {

		
		padding: 70px 0;
	}
	.grid-item:nth-child(4n+1){
		background-color: #0f1626;
	}
	.grid-item:nth-child(4n+2){
		background-color: #ab987a;
	}
	.grid-item:nth-child(4n+3){
		background-color: #ff533d;
	}
	.grid-item:nth-child(4n+4){
		background-color: #f5f5f5;
		h1 {
			color: #0A0E19;
		}
	}
}	

// Variables
$gutter_slug : gutter;
// Spacing
// Loop through number of gutter options and apply element widths accordingly
@for $i from 0px through 30px {
	.gridlock-container.#{$gutter_slug}-#{$i} {
			@include calc(margin-top,$i " * 0.5");
			@include calc(margin-bottom,$i " * 0.5");
			@include calc(width,"100% -" $i);
	}
	.grid-item.#{$gutter_slug}-#{$i}{
		@include calc(width,"33.333% -" $i);
		@include calc(margin,$i " * 0.5");
	}
	.grid-item.alt:nth-child(5n+4).#{$gutter_slug}-#{$i}, .grid-item.alt:nth-child(5n+5).#{$gutter_slug}-#{$i}, .grid-item.alt-inv:nth-child(5n+1).#{$gutter_slug}-#{$i}, .grid-item.alt-inv:nth-child(5n+2).#{$gutter_slug}-#{$i}, .grid-item.anom-1:nth-child(10n+10).#{$gutter_slug}-#{$i}, .grid-item.anom-1:nth-child(10n+11).#{$gutter_slug}-#{$i}, .grid-item.r-2:last-child.#{$gutter_slug}-#{$i}, .grid-item.r-2:nth-last-child(2).#{$gutter_slug}-#{$i}, .grid-item.r-1:last-child.#{$gutter_slug}-#{$i}, .grid-item.r-1:nth-last-child(2).#{$gutter_slug}-#{$i}, .grid-item.r-1:nth-child(-n+2).#{$gutter_slug}-#{$i}{
		@include calc(width,"50% -" $i);
		}
	}

